<h1>New Task</h1>

<% form_for @task, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :billable_by_default %><br />
    <%= f.check_box :billable_by_default %>
  </p>
  <p>
    <%= f.label :deactivated %><br />
    <%= f.check_box :deactivated %>
  </p>
  <p>
    <%= f.label :default_hourly_rate %><br />
    <%= f.text_field :default_hourly_rate %>
  </p>
  <p>
    <%= f.label :is_default %><br />
    <%= f.check_box :is_default %>
  </p>
 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %>