<p>
  <b>Task name:</b>
  <%=h @task.name %>
</p>
<p>
  <b>Billable:</b>
  <%=h @task.billable_by_default %>
</p>
<p>
  <b>Deactivated:</b>
  <%=h @task.deactivated %>
</p>
<p>
  <b>Default hourly rate:</b>
  <%=h @task.default_hourly_rate %>
</p>
<p>
  <b>Is default:</b>
  <%=h @task.is_default %>
</p>





<%= link_to 'Edit', :controller => 'tasks', :action => 'edit', :id => @task.id  %> |
<%= link_to 'Back', tasks_path %>