<h1>New Project</h1>
Please note: features 'client', 'bill by', 'fees', 'budget-by' are not working!
PLEASE DO NOT CREATE PROJECTS FROM THIS FORM TILL CLIENTS CONTROLLER IS READY

<% form_for @project, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

 <p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :active %><br />
  <%= f.check_box :active %>
</p>
<p>
  <%= f.label :billable %><br />
  <%= f.check_box :billable %>
</p>
<p>
  <%= f.label :bill_by %><br />
  <%= f.text_field :bill_by %>
</p>
<p>
  <%= f.label :hourly_rate %><br />
  <%= f.text_field :hourly_rate %>
</p>
<p>
  <%= f.label :client_id %><br />
  <%= f.text_field :client_id %>

</p>
<p>
  <%= f.label :code %><br />
  <%= f.text_field :code %>
</p>
<p>
  <%= f.label :notes %><br />
  <%= f.text_area :notes %>
</p>
<p>
  <%= f.label :budget_by %><br />
  <%= f.text_field :budget_by %>
</p>
<p>
  <%= f.label :budget %><br />
  <%= f.text_field :budget %>
</p>
<p>
  <%= f.label :fees %><br />
  <%= f.text_field :fees %>
</p>

<%= f.submit 'Create' %>

<% end %>

<%= link_to 'Back', projects_path %>