<p>
  <b>Project name:</b>
  <%=h @project.name %>
</p>
<p>
  <b>Active:</b>
  <%=h @project.active %>
</p>
<p>
  <b>Billable:</b>
  <%=h @project.billable %>
</p>
<p>
  <b>Bill by:</b>
  <%=h @project.bill_by %>
</p>
<p>
  <b>Hourly rate:</b>
  <%=h @project.hourly_rate %>
</p>
<p>
  <b>Code:</b>
  <%=h @project.code %>
</p>
<p>
  <b>Notes:</b>
  <%=h @project.notes %>
</p>
<p>
  <b>Budget by:</b>
  <%=h @project.budget_by %>
</p>
<p>
  <b>Budget:</b>
  <%=h @project.budget %>
</p>
<p>
  <b>Fees:</b>
  <%=h @project.fees %>
</p>



<%= link_to 'Edit', :controller => 'projects', :action => 'edit', :id => @project.id  %> |
<%= link_to 'Back', projects_path %>