<h1>Listing TODOs</h1>

<table>
  <tr>
    <th>Todo title</th>
    <th>Description</th>
    <th>Due time</th>
    <th>Completed</th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%=h todo.title %></td>
    <td><%=h todo.description %></td>
    <td><%=h todo.due_time %></td>
    <td><%=h todo.completed %></td>
    <td><%= link_to 'Show', todo %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
    <td><%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Complete', todo_path(todo, :todo => {:completed => true}), :method => :put%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo', new_todo_path %>