<p>
  <b>TODO:</b>
  <%=h @todo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @todo.description %>
</p>
<p>
  <b>Due time:</b>
  <%=h @todo.due_time %>
</p>
<p>
  <b>Completed?:</b>
  <%=h @todo.completed %>
</p>
<% if @task != nil %>
  <p>
    <b>Task:</b>
    <%=h @task.name %>
  </p>
<% end %>
<p>
  <b>Users assigned:</b>
  <% @users.each do |user| %>
  <p>
    <%=h user.login %>
  </p>

<% end %>
</p>


<br />
<% @comments.each do |comment| %>
  <p>
    At <%= comment.created_at.to_s(:short) %>,
    <%= comment.user.login %> said: <br />
  </p>
  <p>
    <%=h comment.comment_text %>
  </p>
<% end %>

<h3>Leave a comment to this TODO</h3>
<%= error_messages_for :comment %>
<% form_for :comment, :url => todo_comments_path(:todo_id => @todo) do |f| %>
  <p><%= f.text_area :comment_text, :rows => 4, :cols => 40 %> </p>
  <p>
    <%= f.submit 'Comment' %>
  </p>
<% end %>





<%= link_to 'Edit todo', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>